.cartaWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--Blanco);
  height: auto;
  width: 100%;
  gap: 20px;
  order: 3;
}

.carta__SelectorsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 90%;
  gap: 10px;
}

.carta__Selectors__Btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 100%;
  border: 1px solid var(--Blanco);
  border-radius: 8px;
  padding: 5px;
  color: black;
}

.carta__Selectors__Btn:hover {
  background-color: var(--AzulBase);
  color: var(--Blanco);
}

.carta__DisplayContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  width: 90%;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.carta__PlatoCard {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 23%;
  height: auto;
  border: 1px solid var(--Blanco);
  border-radius: 4px;
  text-align: left;
  background-color: var(--AzulBase);
}

.carta__PlatoCard__Imagen {
  border: 1px solid hidden;
  border-radius: 2px;
  width: auto;
  height: 150px;
  object-fit: cover;
}

.carta__PlatoCard__TextContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  overflow: hidden;
}

.PlatoCardTop {
  background-color: var(--Rojo);
}

.PlatoCardVegan {
  background-color: var(--Verde);
}

.carta__PlatoCard__Nombre {
  height: 50px;
  font-weight: var(--bold);
  margin: 0;
}

.carta__PlatoCard__Descripcion {
  font-size: 12px;
  height: 90px;
  margin: 0;
}

.carta__PlatoCard__IconsContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  gap: 5px;
  top: 5px;
  left: 5px;
  padding: 5px;
  border-radius: 4px;
}

.carta__PlatoCard__Top {
  background-color: var(--Rojo);
}

.carta__PlatoCard__Vegan {
  background-color: var(--Verde);
}

.carta__PlatoCard__IconText {
  font-size: 12px;
  margin: 0 !important;
}

.colorIconFav {
  color: var(--Blanco);
}

.animateColorBorderFav {
  border-width: 3px;
  animation: colorChangeBorderFav 2s infinite;
}

@keyframes colorChangeBorderFav {
  0% {
    border-color: var(--Blanco);
  }
  50% {
    border-color: var(--Rojo);
  }
  100% {
    border-color: var(--Blanco);
  }
}

.colorIconVeg {
  color: var(--Blanco);
}

.animateColorBorderVeg {
  animation: colorChangeBorderVeg 2s infinite;
}

@keyframes colorChangeBorderVeg {
  0% {
    border-color: var(--Blanco);
  }
  50% {
    border-color: var(--Verde);
  }
  100% {
    border-color: var(--Blanco);
  }
}

@media (max-width: 480px) {
  .cartaWrapper {
    order: 4 !important;
  }
}
