@media (max-width: 480px) {
  .carta__SelectorsContainer {
    flex-wrap: wrap;
  }

  .carta__Selectors__Btn {
    width: 30%;
    height: 50px;
    font-size: small;
  }

  .carta__DisplayContainer {
    width: 95%;
    gap: 10px;
    padding: 0px;
  }

  .carta__PlatoCard {
    width: 100%;
  }

  .carta__PlatoCard__Imagen {
    height: 100px;
  }

  .carta__PlatoCard__TextContainer {
    padding: 10px;
  }

  .carta__PlatoCard__Nombre {
    height: auto;
  }

  .carta__PlatoCard__Descripcion {
    height: auto;
  }
}

@media (min-width: 481px) and (max-width: 960px) {
  .carta__PlatoCard {
    width: 31%;
  }
}

@media (max-width: 1450px) {
  .carta__Selectors__Btn {
    width: 30%;
    height: 50px;
    font-size: small;
  }
}
