.bookingsMainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--Blanco);
  padding: 20px;
}

.bookingsMainWrapper h1 {
  margin-bottom: 20px;
}

.mainLogoBookings {
  width: 100px;
  height: auto;
}

.logBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.logBtns_admin {
  width: 200px;
  height: auto;
  border-top-left-radius: 8px;
}

.logBtns_logout {
  width: 200px;
  height: auto;
  border-top-right-radius: 8px;
}

.logBtns_admin:hover {
  background-color: var(--AmarilloContraste);
}

.logBtns_logout:hover {
  background-color: var(--Rojo);
}

.bookingsVisualizerContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 90%;
  outline-style: solid;
  outline-width: 2px;
  border-radius: 30px;
  padding: var(--Padding);
}

.bookingsOptionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 50%;
  padding: 10px;
  gap: 50px;
}

.activeDateContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  width: 100%;
  padding-left: 30px;
}

.activeDateHeaderTitle {
  width: 100%;
  height: auto;
  text-align: left;
  padding-left: 30px;
}

.todayPod {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 40%;
  padding: 5px 5px 5px 5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  border-color: var(--Blanco);
  background-color: var(--Blanco);
  color: var(--AzulBase);
}

.todayFilterBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 40%;
}

.btnDayMinus,
.btnDayPlus {
  height: auto;
  width: 25%;
}

.btnDayToday {
  height: auto;
  width: 50%;
}

.btnDayMinus {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.btnDayPlus {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.btnDayMinus:hover,
.btnDayPlus:hover,
.btnDayToday:hover {
  background-color: var(--AzulBase);
  color: var(--Blanco);
  border-color: var(--Blanco);
}

.bookingsStatsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.bookingStatsHeaderTitle {
  width: 100%;
  height: auto;
  text-align: left;
}

.statPodsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 100%;
  padding: 10px;
  gap: 5px;
}

.statPod {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 50%;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}

.createBookingContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 100%;
  border-top: 2px solid var(--Blanco);
  padding-top: 20px;
  margin-top: 50px;
}

.createBookingContainer--mobile {
  display: none;
}

.createBookingInputs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 100%;
  padding: 10px;
}

.bookingInputForm {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 100%;
  gap: 5px;
}

.bookingInputDateData {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  height: auto;
  width: 40%;
  gap: 10px;
}

.bookingInputPersonalData {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  height: auto;
  width: 60%;
  gap: 10px;
}

.bookingInputBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50%;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}

.bookingInputBtn:hover {
  background-color: var(--AmarilloContraste);
  color: var(--AzulBase);
}

.bookingInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  gap: 5px;
}

.bookingInputField {
  width: 100%;
  height: auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  padding-left: 5px;
}

.bookingsTimesContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 50%;
  padding: 10px;
}

.bookingPodsHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
  width: 100%;
  padding: 10px;
  gap: 10px;
}

.btnDownloadPdf {
  width: auto;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: transparent;
  color: var(--Blanco);
  border: 1px solid var(--Blanco);
  border-radius: 10px;
}

.btnDownloadPdf:hover {
  background-color: var(--Blanco);
  color: var(--AzulBase);
}

.bookingPodsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 100%;
  padding: 10px;
  gap: 5px;
}

.bookingPodTitles {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 100%;
  padding: 5px;
  border-style: hidden;
}

.bookingPodTitles p {
  text-align: center;
  width: 25%;
  height: 14px;
  padding: 5px 5px 5px 5px;
  line-height: 0;
  margin: 0;
}

.bookingPod {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 100%;
  padding-top: 5px;
  background-color: var(--Blanco);
  color: var(--AzulBase);
  margin: 2px;
  border-style: hidden;
  border-width: 1px;
  border-radius: 15px;
}

.bookingPodData {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 100%;
}

.bookingPodData p {
  text-align: center;
  width: 25%;
  height: 20px;
  padding: 5px 5px 5px 5px;
  line-height: 0;
  margin: 2px;
}

.bookingPodContact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 100%;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--AzulBase);
  border-radius: 8px;
  background-color: var(--GrisOscuro);
  color: var(--Blanco);
}

.bookingContactNombre {
  width: 25%;
  height: auto;
  text-align: left;
}

.bookingContactTel {
  width: 30%;
  height: auto;
  text-align: left;
}

.bookingContactComentario {
  width: 45%;
  height: auto;
  text-align: left;
}

.bookingPodContact p {
  line-height: 0.9;
  margin: 0px 0px 0px 0px;
}

#bookingContactTitle {
  font-size: var(--notification);
}
