@media (max-width: 800px) {
  .bookingsMainWrapper {
    width: 100%;
    height: auto;
  }

  .logBtns {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .bookingsVisualizerContainer {
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: flex-start;
  }

  .bookingsOptionsContainer {
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
  }

  .activeDateContainer {
    align-items: center;
    padding-left: 0px;
  }

  .todayPod {
    width: 60%;
  }

  .todayFilterBtns {
    width: 90%;
  }

  .bookingStatsHeaderTitle {
    text-align: center;
  }

  .statPodsContainer {
    align-items: center;
  }

  .statPod {
    width: 90%;
  }

  .createBookingContainer {
    display: none;
    margin-top: 0px;
  }

  .createBookingContainer--mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    width: 100%;
    border-top: 2px solid var(--Blanco);
    padding-top: 20px;
    margin-top: 50px;
  }

  .createBookingHeaderTitle {
    text-align: center;
    width: 100%;
  }

  .bookingInput {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    gap: 5px;
  }

  .bookingInputForm {
    flex-direction: column;
  }

  .bookingInputDateData {
    width: 100%;
  }

  .bookingInputPersonalData {
    width: 100%;
    align-items: center;
  }

  .bookingInputBtn {
    width: 90%;
  }

  .bookingsTimesContainer {
    align-items: center;
    width: 100%;
  }

  .bookingPodsHeader {
    flex-direction: column;
    align-items: center;
  }

  .bookingPodTitles p {
    font-size: var(--notification);
  }

  .bookingPodContact {
    flex-direction: column;
  }

  .bookingPodData p {
    font-size: var(--notification);
  }

  .bookingContactNombre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .bookingContactNombre p {
    font-size: var(--notification);
  }

  .bookingContactTel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .bookingContactTel p {
    font-size: var(--notification);
  }

  .bookingContactComentario {
    font-size: var(--notification);
    width: 100%;
  }

  .bookingContactComentarioText {
    font-size: var(--notification);
  }
}

@media (min-width: 500px) and (max-width: 1100px) {
  .activeDateContainer {
    align-items: center;
  }

  .todayFilterBtns {
    width: 65%;
  }

  .bookingsOptionsContainer {
    align-items: center;
  }

  .bookingsStatsContainer {
    width: 65%;
  }

  .createBookingContainer--mobile {
    align-items: center;
  }

  .createBookingInputs {
    width: 65%;
  }

  .bookingInputBtn {
    width: 50%;
  }
}
