.show {
  visibility: visible !important;
  transition: opacity 0.2s linear;
}

.showStyleBackground {
  background-color: rgba(95, 95, 95, 0.9);
}

.modalDialogStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.modalContentStyle {
  width: 1000px !important;
  height: auto !important;
  border: 1px solid var(--AzulBase) !important;
  border-radius: 10px !important;
  background-color: var(--AzulBase) !important;
}

.modalBodyEdit {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 100% !important;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--AzulBase) !important;
  border-radius: 10px !important;
  background-color: var(--AzulBase) !important;
}

.btnBackModalSettings {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: auto;
  border-style: solid;
  border-width: 2px;
  border-color: var(--blanco);
  border-radius: 30px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--CremaBase);
  color: var(--AzulBase);
  padding: 5px;
}

.btnBackModalSettings:hover {
  background-color: var(--AzulBase);
  color: var(--CremaBase);
}

.modalContent {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}

.modalTitle {
  margin-top: 15px;
  margin-bottom: 15px;
}

.weekdaysSeparators {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
}

.weekdaysSeparatorWeekday {
  width: 100%;
  text-align: left;
}

.weekdaysWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
  padding-top: 10px;
  border-top: 2px solid var(--Blanco);
  margin-bottom: 5px;
}

.weekday {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid var(--GrisOscuro);
  padding: 10px;
  gap: 20px;
}

.weekdayTitle {
  width: 100px;
}

.weekdayEnabledContainer {
  display: flex;
  flex-direction: column;
  width: 100px;
  justify-content: flex-start;
  align-items: center;
}

.weekdayTitleEnabled {
  width: 100%;
  height: auto;
  color: var(--Verde);
}

.weekdayTitleDisabled {
  width: 100%;
  height: auto;
  color: var(--Rojo);
}

.weekdayCheckbox {
  -webkit-appearance: none;
  appearance: none;
  width: 1.6em;
  height: 1.6em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 1px solid var(--Rojo);
  outline: none;
  cursor: pointer;
  background-color: var(--Rojo);
}

.weekdayCheckbox:checked {
  background-color: var(--Verde);
  border-color: var(--Verde);
}

.optionsWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.sameDayBookingWrapper {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sameDayBookingTitle {
  width: 100%;
  height: auto;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--Blanco);
}

.samedayCheckbox {
  -webkit-appearance: none;
  appearance: none;
  width: 1.6em;
  height: 1.6em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 1px solid var(--Rojo);
  outline: none;
  cursor: pointer;
  background-color: var(--Rojo);
}

.samedayCheckbox:checked {
  background-color: var(--Verde);
  border-color: var(--Verde);
}

.samedayTitleEnabled {
  width: 100%;
  height: auto;
  color: var(--Verde);
}

.samedayTitleDisabled {
  width: 100%;
  height: auto;
  color: var(--Rojo);
}
