.ratings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--Blanco);
  gap: 20px;
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.ratingsGeneral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
}

.ratingsGeneral__logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 30px;
}

.logos__logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: auto;
}

.logos__tripadvisor {
  height: 30px;
  width: auto;
  color: var(--Blanco);
}

.logos__google {
  height: 30px;
  width: auto;
  margin-top: 10px;
  color: var(--Blanco);
}

.ratings__PodMarquee {
  gap: 10px !important;
  margin-top: 50px;
  margin-bottom: 50px;
}

.ratingsPod {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: auto;
  padding: 10px;
  border: 1px solid var(--Blanco);
  border-radius: 5px;
  color: var(--Blanco);
  gap: 10px;
  margin-left: 10px;
}

.ratingsPod:hover > *,
.ratingsPod:hover {
  color: var(--AmarilloContraste);
  border-color: var(--AmarilloContraste);
}

.ratingsPod__Header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.ratingsPod__Header__Img {
  width: 75px;
  height: auto;
  margin: 0 !important;
  padding: 0 !important;
}

.ratingsPod__Header__Stars {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  position: absolute;
  right: 0px;
}

.ratingsPod__Nombre {
  width: 100%;
  height: auto;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1;
}

.ratingsPod__Comentario {
  width: 100%;
  height: 75px;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1;
  word-wrap: normal;
  text-align: left;
  font-size: 12px;
}
