.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: var(--Blanco);
  padding: 20px;
  gap: 20px;
}

.credentials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  gap: 10px;
}

.credentials__text {
  line-height: 1;
  margin: 0 !important;
  padding: 0 !important;
}

.credentials__input {
  margin: 0 !important;
  border-radius: 20px;
  padding-left: 10px;
}

.credentials__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: auto;
  padding: 5px;
  border-radius: 20px;
  margin: 10px;
  background-color: var(--AmarilloContraste);
  color: var(--AzulBase);
}

.credentials__btn:hover {
  background-color: var(--AzulBase);
  border-color: var(--AmarilloContraste);
  color: var(--AmarilloContraste);
}

.copyright {
  position: absolute;
  bottom: 0;
}
