@media (max-width: 480px) {
  .bookingModuleMainWrapper {
    order: 3;
  }

  .bookingWrapper {
    flex-direction: column;
    width: 100%;
  }

  .pickersWrapper {
    flex-direction: column;
    width: 100%;
  }

  .datePickerContainer {
    width: 100%;
    height: auto;
  }

  .datePickerContainer p {
    height: auto;
  }

  .datePickerContainer div {
    width: 100%;
  }

  .datePicker {
    width: 100%;
  }

  .timePickerContainer {
    width: 100%;
    height: auto;
  }

  .timePickerContainer p {
    height: auto;
  }

  .timeSelector {
    width: 100%;
  }

  .optionsWrapper {
    flex-direction: column;
    width: 100%;
  }

  .peopleContainer {
    height: auto;
    width: 100%;
    padding: 0px;
  }

  .peopleContainer #titlePeople {
    height: auto;
    width: 100%;
  }

  .quantityControlsContainer {
    width: 100%;
    margin-top: 0px;
  }

  .zonesContainer {
    height: auto;
    width: 100%;
    padding: 0px;
  }

  .zonesContainer #titleZones {
    height: auto;
  }

  .zoneContainer {
    width: 100%;
  }

  .zoneSelector {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .userWrapper {
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .userInputsContainer {
    width: 100%;
  }

  #titleContact {
    height: auto;
  }

  .userMessaggeContainer {
    width: 100%;
  }

  #titleMessagge {
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
  }

  #userMessaggeInput {
    height: 100px;
  }

  .btnReservarContainer {
    width: 100%;
  }

  #btnReservar {
    width: 100%;
  }
}
