.homePage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--Blanco);
  width: 100%;
  height: auto;
  padding: 20px 20px 0px 20px;
  gap: 20px;
}

.homeBanner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  padding: 50px 50px 50px 50px;
  border: 1px hidden hidden;
  border-radius: 15px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    ),
    url("../../imgs/homeBannerImg1.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.homeBanner2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  padding: 50px 50px 50px 50px;
  border: 1px hidden hidden;
  border-radius: 15px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    ),
    url("../../imgs/homeBannerImg2.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.homeBanner__MobileTitle2,
#mobileEmptyBR {
  display: none;
}

.homeBanner__Title,
.homeBanner__Title2,
.homeBanner__MobileTitle2 {
  width: auto;
  height: auto;
  text-align: left;
}

.homeBanner__subtitle {
  width: auto;
  height: auto;
  text-align: left;
  font-size: 20px !important;
}

.botonReserva {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 150px;
  border: 1px solid transparent;
  border-radius: 8px !important;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  background-color: var(--AmarilloContraste);
  color: var(--AzulBase);
  font-size: var(--h5);
  font-weight: var(--bold);
  line-height: 1;
}

.botonReserva:hover {
  background-color: var(--AzulBase);
  color: var(--AmarilloContraste);
  border: 1px solid var(--AmarilloContraste);
}

.carousel {
  width: 100% !important;
  height: auto !important;
  justify-content: center !important;
  align-items: center !important;
}
