.weekdayAccordionItem {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: auto;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.weekdayTimesContainer h6 {
  width: 100%;
  height: auto;
}

.weekdayTimesButton {
  display: flex;
  flex-direction: row;
  padding: 2px;
  gap: 20px;
}

.weekdayTimesContainer {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 4px;
  padding: 2px;
}

.weekdayTime {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  padding: 1px;
  border: 1px solid var(--Blanco);
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.weekdayTimeDisabled {
  color: gray;
}
