.NavbarWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding-left: 50px;
  padding-right: 50px;
  order: 1;
}

.navbarLinksContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: auto;
  gap: 20px;
}

.navbarLinksTop,
.navbarLinksBottom {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  align-items: center;
}

.navbarLink {
  color: var(--AmarilloContraste);
  margin-left: 20px;
  margin-right: 20px;
}

.navbarLink:hover {
  color: var(--Blanco);
}
