.adminMainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--Blanco);
  padding: 20px;
}

.bookingOptionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 90%;
  outline-style: solid;
  outline-width: 2px;
  border-radius: 30px;
  padding: var(--Padding);
}

.bookingTimesContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 100%;
  padding: 10px;
  gap: 10px;
}

.addTimeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 50%;
  gap: 10px;
  padding: 2px;
}

.addTimeContainer p {
  margin: 0 !important;
}

.addHourContainer,
.addMinutesContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: auto;
  gap: 10px;
  padding: 2px;
  background-color: var(--Blanco);
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: hidden;
  color: var(--AzulBase);
}

.timeAggregator {
  width: 100%;
  height: 45px !important;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: hidden;
  border-color: var(--Blanco);
}

.timeAggregatorBtn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;
  color: var(--Blanco);
  background-color: transparent;
  border-style: hidden;
}

.timePodContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  height: 400px;
  gap: 3px;
  color: var(--Blanco);
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  flex-wrap: wrap;
  padding: 10px;
}

.timePod {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 50%;
  gap: 10px;
  padding: 2px;
  border-style: hidden;
  border-width: 2px;
  border-radius: 15px;
}

.timePod p {
  margin: 0 !important;
}

#timePodEvenCell {
  background-color: var(--BlancoTrans);
}

.timeHour {
  width: auto;
  height: auto;
  color: var(--AzulBase);
  background-color: var(--Blanco);
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
}

.timeEraserContainer,
.timeEraserBtn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;
  color: var(--Blanco);
  background-color: transparent;
  border-style: hidden;
}
